.App {
  background-color:#f8f5f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.content-card {
  font-size: calc(10px + 1vmin);
  line-height: 160%;
  color: #222525;
  max-width: 600px;
  margin: 20px;
  border-radius: 5px;
  padding: 20px 60px;
}

h1 {
  color: #232323;
  font-size: 60px;
}

a {
  color: #078080;

}

strong {
  /* color: #ff8e3c; */
}
